<html>
	
		<footer class="footer" th:fragment="footer">
			    <div class="footer-container">

			        <div class="footer-box">
			            <h2>🌿 Ganwai Swad</h2>
			            <p>
			                Pure village taste made with love and traditional recipes.
			                Healthy, Natural & Homemade.
			            </p>
			        </div>

			        <div class="footer-box">
			            <h3>Quick Links</h3>
			            <ul>
			                <li><a th:href="@{/}">Home</a></li>
			                <li><a th:href="@{/products}">Products</a></li>
			                <li><a th:href="@{/about}">About</a></li>
			                <li><a th:href="@{/contact}">Contact</a></li>
			            </ul>
			        </div>

			        <div class="footer-box">
			            <h3>Products</h3>
			            <ul>
			                <li>Jaggery</li>
			                <li>Vinegar</li>
			                <li>Pickles</li>
			            </ul>
			        </div>

			        <div class="footer-box">
			            <h3>Contact</h3>

			            <p>
			                <i class="fa-solid fa-location-dot"></i>
			                Jaunpur, Uttar Pradesh
			            </p>

			            <p>
			                <i class="fa-solid fa-phone"></i>
			                +91 9580674140
			            </p>

			            <p>
			                <i class="fa-solid fa-envelope"></i>
			                info@ganwaiswad.com
			            </p>

			            <div class="social-icons">

			                <a href="#"><i class="fab fa-facebook-f"></i></a>

			                <a href="#"><i class="fab fa-instagram"></i></a>

			                <a href="#"><i class="fab fa-whatsapp"></i></a>

			                <a href="#"><i class="fab fa-youtube"></i></a>

			            </div>

			        </div>

			    </div>

			    <div class="footer-bottom">
			        © 2026 Ganwai Swad | Made with ❤️ in India
			    </div>

			</footer>
			
	
</html>