<html>
	<body>
	
		<!-- Navbar -->
			<header th:fragment="header">
				<!-- Top Announcement Bar -->
					<div class="top-bar">

					    <div class="top-left">
					        <i class="fa-solid fa-leaf"></i>
					        <span>Pure Village Taste, with Love ❤️</span>
					    </div>

					    <div class="top-right">
					        <i class="fa-solid fa-truck-fast"></i>
					        <span>Free Shipping on orders above ₹499</span>
					    </div>

					</div>
			    <nav class="navbar">
			        <div class="logo">
			            <a href="index.html">🌿 <span>Ganwai</span> Swad</a>
			        </div>

			        <ul class="nav-links">
			            <li><a th:href="@{/}" class="active">Home</a></li>
			            <li><a th:href="@{/products}">Products</a></li>
			            <li><a th:href="@{/about}">About</a></li>
			            <li><a th:href="@{/contact}">Contact</a></li>
						
			        </ul>

			        <a th:href="@{/login}" class="order-btn">
			             login
			        </a>
			    </nav>
			</header>
	</body>
</html>